@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 50px;
  background: #121314;
  color: white;
  height: 100vh;
  background: linear-gradient(
      to right,
      hsla(212, 75%, 78%, 0.301),
      hsla(276, 73%, 64%, 0.445)
    ),
    url(../assets/img/background/vw-bettle.jpg);
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.wave {
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.log_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  max-width: 750px;
  width: 50%;
}

.logform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 2px solid black;
  padding: 40px;
  border-radius: 38px;
  background: linear-gradient(to left, #c33764, #1d2671);
}

.logform_logo {
  width: 200px;
}

.form_inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.form_inputs label {
  display: none;
}

.form_input {
  border: none;
  background: transparent;
  border-bottom: 1px solid white;
  height: 30px;
  width: 200px;
  padding: 10px;
}

input:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid purple;
}


.form__btn {
  border: 2px solid white;
  color: white;
  height: 30px;
  width: 70%;
  background: transparent;
  border-radius: 20px;
}

