@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  list-style-type: none;
}

.header {
  background: linear-gradient(to left, #c33764, #1d2671);
  width: 100%;
  height: 70px;
  padding: 0 30px;
  position: fixed;
  top: 0;
  z-index: 2;
}

.header-navbar,
.navbar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-list {
  gap: 20px;
}

.navbar_link {
  color: white;
}

.navbar-logo {
  width: 200px;
}

/* Main */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  background: black;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      to right,
      hsla(212, 75%, 78%, 0.301),
      hsla(276, 73%, 64%, 0.445)
    ),
    url(../assets/img/background/vw-bettle.jpg);
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.hero_info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}

.hero_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  text-align: justify;
}

.hero_back-filter {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -1;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.wave {
  position: absolute;
  width: 100%;
  bottom: -1px;
}

/* Service Section */
#service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #19224C;
  width: 100%;
  gap: 50px;
  padding-top: 30px;
  padding-bottom: 300px;
  position: relative;
}

.service_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  gap: 70px;
}

.service_info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: gray;
  padding: 30px;
  border-radius: 30px;
}

.service_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}

.service_img {
  border-radius: 28px;
  width: 280px;
}

/* About Section */
#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: black;
  gap: 70px;
  padding: 50px 0;
}

.about_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  gap: 60px;
}

.history {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.about_history-img {
  border-radius: 20px;
  width: 250px;
  border: 2px solid white;
}

.about_history-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}

.about_history-text:nth-child(odd) {
  align-items: flex-end;
}

.about_history-text:nth-child(even) {
  align-items: flex-start;
}

.divider {
  width: 90%;
  height: 2px;
  border: none;
  background: white
}

/* Location Section */
#location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
  gap: 70px;
  width: 100%;
  color: white;
  background: linear-gradient(to top, #c44f95, #000000);
}

.location_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.location_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.location_icons {
  width: 30px;
}

.location_adress,
.location_email,
.location_phone {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
