@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");

html {
  scroll-behavior: smooth;
  scroll-padding-top: 68px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  list-style-type: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #121314;
  /* background: linear-gradient(to left, #c33764, #1d2671); */
  width: 100%;
  height: 70px;
  padding: 0 30px;
  position: fixed;
  top: 0;
  z-index: 2;
}

.header-navbar,
.navbar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.navbar_link {
  color: white;
}

.navbar-logo {
  width: 200px;
}

#menu-toggle,
.menu-label {
  display: none;
}

/* Main */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  /* background: #161718; */
  background: linear-gradient(to left, #c33764, #1d2671);
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin-top: 35px;
  gap: 50px;
  background: linear-gradient(
      to right,
      hsla(212, 75%, 78%, 0.301),
      hsla(276, 73%, 64%, 0.445)
    ),
    url(../assets/img/background/vw-bettle-blured.jpg);
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
}

.hero_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;
  text-align: justify;
}

/* Service Section */
#service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 50px;
  padding: 65px 0;
  border-top: 3px solid black;
}

.service_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  gap: 70px;
}

.service_info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: rgb(54, 54, 54);
  border: 2px solid #7700ff;
  padding: 30px;
  border-radius: 30px;
  width: 100%;
}

.service_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  gap: 10px;
}

.service_img {
  border-radius: 28px;
  width: 280px;
}

/* About Section */
#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 70px;
  padding: 50px 0;
  /* border-top: 5px solid black; */
}

.about_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  gap: 60px;
}

.about_history {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.about_history-img {
  border-radius: 20px;
  width: 250px;
  border: 2px solid white;
}

.about_history-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}

.about_history-text:nth-child(odd) {
  align-items: flex-end;
}

.about_history-text:nth-child(even) {
  align-items: flex-start;
}

.divider {
  width: 90%;
  height: 2px;
  border: none;
  background: white;
}

/* Location Section */
#contactus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  gap: 70px;
  width: 100%;
  color: white;
}

.contact_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}

.contact_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.location_icons {
  width: 30px;
}

.location_adress,
.location_email,
.location_phone {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 0;
  gap: 10px;
  background: #121314;
  color: white;
}

.foot_links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.foot_link {
  color: white;
  font-size: 13px;
}

.foot_span {
  font-size: 14px;
}

.foot_link:hover {
  text-decoration: underline;
}

/* Diseño Responsive */

@media (max-width: 992px) {
  /* Tablet */
  .navbar-list {
    position: absolute;
    top: 70px;
    right: -2px;
    width: 25%;
    flex-direction: column;
    background-color: #121314;
    border: 2px solid #c33764;
    border-top: 0;
    border-radius: 0 0 0 15px;
    align-items: center;
    padding: 45px 30px;
    gap: 25px;
    z-index: 2;
    /* display: none; */
    transform: translateX(200%);
    transition: all 0.2s ease;
  }

  .navbar_link:hover {
    text-decoration: underline;
  }

  .menu-label {
    display: flex;
    order: 2;
    cursor: pointer;
  }

  #menu-toggle:checked + .navbar-list {
    /* display: flex; */
    transform: translateX(0);
  }

  .hero {
    flex-direction: column;
    padding: 80px 0;
    height: auto;
  }

  .hero_info {
    align-items: center;
  }

  .hero_info-p {
    text-align: center;
  }

  .hero_img {
    width: 200px;
  }

  /* #service {
    padding: 80px 0;
  } */

  .service_container {
    width: 80%;
  }

  #about {
    padding: 65px 0;
  }

  .about_container {
    width: 80%;
  }

  .foot_link {
    color: white;
    font-size: 10px;
  }
  
  .foot_span {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .hero_info {
    padding: 30px 30px;
  }

  #service {
    padding: 65px 0;
  }

  .service_info {
    flex-direction: column;
    padding: 20px;
    border-radius: 30px;
  }

  .service_img {
    width: 100%;
  }

  .about_title {
    font-size: 22px;
    text-align: center;
  }

  .about_container {
    gap: 70px;
  }

  .about_history-img {
    width: 150px;
  }

  .about_history p {
    font-size: 12px;
  }

  .contactus_title {
    font-size: 22px;
    text-align: center;
  }

  .contact_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}

@media only screen and (min-width: 577px) and (max-width: 991px) {
  .hero {
    padding: 70px 40px;
  }
  #service {
    padding: 60px 25px;
  }

  .service_container {
    width: 85%;
  }

  .service_info {
    flex-direction: column;
    padding: 20px;
  }

  .service_text {
    justify-content: center;
    align-items: center;
  }

  .service_title {
    font-size: 20px;
  }

  .service_img {
    width: 400px;
  }

  .about_history p {
    font-size: 12px;
  }

  #contactus {
    gap: 50px;
  }

  .contactus_title {
    font-size: 18px;
  }
  .contact_container {
    flex-direction: column;
    gap: 40px;
  }
}
